##################
#     VSCode     #
##################

# Workspace
*.code-workspace

##################
#    Modelsim    #
##################

transcript
*.mpf
*.wlf

# Work lib
*/work

########################
#  Assignment uploads  #
########################

**Assignment**.rar
**Assignment**.tar

submission_conformation_code.txt